upstream back {
    server back:80;
}

server {
    listen 80;
    server_name 127.0.0.1 localhost;

    location /api/ {
        proxy_pass http://back/;
    }

    location / {
      root /usr/share/nginx/html;
      index index.html;
      try_files $uri $uri/ /index.html =404;
    }
}
